<template lang="pug">
v-row
  v-col
    v-sheet.pa-16(elevation="5" rounded="lg")
      v-row
        v-col
          h4.title Choose Your Background
      
      //- Render available backgrounds
      v-row
        v-col(v-for="(background,index) in backgrounds" :key="index" cols="4" align="center")
          v-card.pa-1(:height="backgroundSize" :width="backgroundSize" :class="background.color")
            v-img(:src='background.uri')

      //- Control buttons
      v-row
        v-col(align="center")

          v-tooltip(bottom)
            template(v-slot:activator="{ on, attrs }")
              v-btn.mx-2(elevation="2" v-bind="attrs" v-on="on" dark large color="pink" fab @click="shuffleColors()")
                v-icon(dark) mdi-shuffle
            span Shuffle Color

          v-tooltip(bottom)
            template(v-slot:activator="{ on, attrs }")
              v-btn.mx-2(elevation="2" v-bind="attrs" v-on="on" dark large color="indigo" fab @click="shuffleImages()")
                v-icon(dark) mdi-reload
            span Request New Images
          
</template>

<script>
export default {
  data: () => ({
    colors: [],
    backgroundSize: 200,
    backgrounds: [],
  }),
  async mounted() {
    this.colors = await this.getColorList()
    this.backgrounds = this.buildBackgrounds(this.colors)
  },
  methods: {
    /**
     * Retrieve a list of colors from a URL
     * and construct an one-dimensional array from the results
     * @return array
     */
    async getColorList() {
      const colors = []

      const request = await this.$axios.get(
        'https://rw-jackfruit-public-dev.s3.us-west-2.amazonaws.com/colors.json'
      )

      // eslint-disable-next-line no-unused-vars
      for (const [key, value] of Object.entries(request.data)) {
        colors.push(value)
      }
      return colors
    },

    /**
     * Generate an array of backgrounds that includes a color and image
     *
     * @param array colors - the color list to use as a primary iterator
     * @return array
     */
    buildBackgrounds(colors) {
      const images = []

      colors.forEach((color) => {
        // Generate a random integer so the api doesn't return the same image
        const randomInt = Math.floor(Math.random() * 100)

        images.push({
          color,
          uri: `https://source.unsplash.com/random/${this.backgroundSize}x${this.backgroundSize}?sig=${randomInt}`,
        })
      })

      return images
    },

    /**
     * Shuffle the background images array
     */
    shuffleColors() {
      this.backgrounds.sort(() => Math.random() - 0.5)
    },

    /**
     * Request a new set of background images
     */
    shuffleImages() {
      this.backgrounds = this.buildBackgrounds(this.colors)
    },
  },
}
</script>
