#colorsWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.colorItem {
  height: 100px;
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
}
